{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="wrap-content">
    <div class="card-background half-width event-details">
      <section class="card">
        <div class="event-info">
          <h2 class="site-heading">Django Meetup</h2>
          <h3></h3>
        </div>
      </section>
      <section class="card landing-text-container">
        <img src="{% static 'images/image_placeholder.jpg' %}" alt="image_placeholder">
      </section>
      <section class="card landing-controls">
        <p class="landing-text">Price: £0.00</p>
        <p>A meetup for Django developers and people who are interested in Django development. People of all experience levels are welcome, from beginners to pros!</p>
      </section>
      </div>
    </div>
</main>
{% endblock content %}